
@{
    ViewBag.Title = "DisplayAllSongs";
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<table id="DisplayAllSongs">

	<tr>
		<th>Title</th>
		<th>Source</th>
		<th>Composer</th>
		<th>Lyricist</th>
		<th>Genre</th>
		<th>Gender</th>
		<th>Voice Part</th>
	</tr>

	@*@foreach (var song in Model)
	{
		<tr>
			<td>@song.Title</td>
			<td>@song.Source</td>
			<td>@song.Composer</td>
			<td>@song.Lyricist</td>
			<td>@song.Genre</td>
			<td>@song.Gender</td>
			<td>@song.VoicePart</td>
		</tr>
	}*@

</table>

