
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
	@model IList<MySongbook.Models.Song>
}

<h2>Search Results</h2>

<table id="SearchResults">

	<tr>
		<th>Title</th>
		<th>Source</th>
		<th>Composer</th>
		<th>Lyricist</th>
		<th>Genre</th>
		<th>Gender</th>
		<th>Voice Part</th>
	</tr>

	@foreach (var song in Model)
	{
		<tr id="songDetails">
			<td>@song.Title</td>
			<td>@song.Source</td>
			<td>@song.Composer</td>
			<td>@song.Lyricist</td>
			<td>@song.Genre</td>
			<td>@song.Gender</td>
			<td>@song.VoicePart</td>
		</tr>
	}

</table>