
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
	@model IList<MySongbook.Models.Song>
}

<section id="subpageImage">
	<h2 class="homeTitle">Search Results</h2>
	<h4 class="homeTitle"> <em>Here's what I found ...</em></h4>
</section>

<div class="pageBoxFull">
	<h4>Results</h4>
	<br />
	<table id="SearchResults">

		<tr>
			<th class="left_column">Title</th>
			<th>Source</th>
			<th>Composer</th>
			<th>Lyricist</th>
			<th>Genre</th>
			<th>Gender</th>
			<th>Voice Part</th>
			<th>Edit</th>
		</tr>

		@foreach (var song in Model)
		{
			<tr id="songDetails">
				<td class="left_column">@song.Title</td>
				<td>@song.Source</td>
				<td>@song.Composer</td>
				<td>@song.Lyricist</td>
				<td>@song.Genre</td>
				<td>@song.Gender</td>
				<td>@song.VoicePart</td>
				<td><form method="get" action="@Url.Action("UpdateEntry", "Home")"><input type="hidden" name="DatabaseId" value="@song.DatabaseId" /><button>Edit</button></form></td>
			</tr>
		}
		
	</table>
	<br />
</div>