
@{
	ViewBag.Title = "SubmitSong";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@model MySongbook.Models.Song
}

<div class="pageBox">
	<h2>Submit a Song</h2>

	<div class="inputForm">
		<form method="post" action="@Url.Action("SubmitSong", "Home")">
			<div id="search">
				<p>Title:<br /> @Html.TextBoxFor(s => s.Title, new { placeholder = "Enter the Song Title" })</p>
				<p>Composer:<br /> @Html.TextBoxFor(s => s.Composer, new { placeholder = "Last, First" })</p>
				<p>Lyricist:<br /> @Html.TextBoxFor(s => s.Lyricist, new { placeholder = "Last, First" })</p>
				<p>Source Material:<br /> @Html.TextBoxFor(s => s.Source, new { placeholder = "Musical, Artist, Opera, etc." })</p>
			</div>
			<div id="search">
				<p>
					Category:<br />
					<select name="Genre">
						<option value="Contemporary Musical Theatre Uptempo">Contemporary Musical Theatre Uptempo</option>
						<option value="Contemporary Musical Theatre Ballad">Contemporary Musical Theatre Ballad</option>
						<option value="Classical Musical Theatre Uptempo">Classical Musical Theatre Uptempo</option>
						<option value="Classical Musical Theatre Ballad">Classical Musical Theatre Ballad</option>
						<option value="Pop/Rock/Country">Pop/Rock/Country</option>
						<option value="Jazz/Blues">Jazz/Blues</option>
						<option value="Comedic">Comedic</option>
						<option value="Disney">Disney</option>
						<option value="Classical">Classical</option>
					</select>
				</p>
				<p>
					Gender:<br />
					<select name="Gender">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Either/Both">Either/Both</option>
					</select>
				</p>
				<p>
					Voice Part:<br />
					<select name="VoicePart">
						<option value="Bass-Baritone">Bass-Baritone</option>
						<option value="Bari-Tenor">Bari-Tenor</option>
						<option value="Tenor">Tenor</option>
						<option value="Alto">Alto</option>
						<option value="Mezzo">Mezzo</option>
						<option value="Soprano">Soprano</option>
						<option value="Child">Child</option>
						<option value="Duet">Duet</option>
					</select>

				</p>
				<br />
				<button>Submit!</button>
			</div>

		</form>
	</div>
</div>